@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700')
@import url('https://fonts.googleapis.com/css?family=Karla:400,700')
$karla: 'karla', sans-serif

body
  h1
    font-family: "Source Sans Pro", "HelveticaNeue", "Helvetica Neue", sans-serif
    font-weight: 300
    letter-spacing: 2px
  h2
    font-family: "Source Sans Pro", "HelveticaNeue", "Helvetica Neue", sans-serif
    font-weight: 200
    letter-spacing: 2px
  h3, h4, h5
    font-family: "Source Sans Pro", "HelveticaNeue", "Helvetica Neue", sans-serif
    font-weight: 200
    letter-spacing: 2px
  p, li, span, button, i, input, label, a, div
    font-family: $karla !important
    font-weight: 400
    line-height: 23px

.login-btn
  -webkit-box-shadow: 0px 2px 5px grey
  -moz-box-shadow: 0px 2px 5px grey
  box-shadow: 0px 2px 5px grey
  //border: none
  letter-spacing: 5px
  //background: #009598
  padding: 0.65rem
  color: white

.nav-link, .navbar-brand
  font-family: "Source Sans Pro", "HelveticaNeue", "Helvetica Neue", sans-serif
  font-weight: 700
  text-rendering: optimizeLegibility
  text-transform: uppercase
  letter-spacing: 0.2em
  font-size: 20px
  position: relative
  display: inline-block
  color: #000 !important
  padding: 0 20px !important

.login-form
  box-shadow: 0 2px 6px #bbbbbb
  padding: 2rem

.fs-11
  font-size: 11px !important

#items-table, #users-table
  tbody
    td
      padding: 5px 4px
      font-size: 15px
    td:nth-child(4)
      text-transform: uppercase
    td:nth-child(5)
      text-transform: capitalize

.arrow-right, .arrow-down
  width: 0
  height: 0
  border-top: 20px solid transparent
  border-bottom: 20px solid transparent
  border-left: 20px solid #343a40
  position: absolute
  right: 0
  top: 50%
  margin-top: -10px
  margin-right: -20px

.arrow-down
  border-right: 20px solid transparent
  border-bottom: none
  border-top: 20px solid #343a40
  border-left: 20px solid transparent
  bottom: 0
  left: 50%
  margin-left: -15px
  margin-bottom: -20px
  top: initial
  right: initial

th
  padding-left: 0.4rem !important